<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Név</th>
            <th>Elkészítési idő</th>
            <th>Leírás</th>
            <th>Gombok</th>
        </tr>   
    </thead>
    <tbody>

        {{#each receptek}}
        <tr>
            {{!--{{log this}}--}}
            <td>{{nev}}</td>
            <td>{{ido}}</td>
            <td>{{leiras}}</td>
            <td>
                {{link-to "Módosítás" "receptek.edit" this class="btn btn-default btn-sm"}}
                <!--button {{!--action "deleteRecept" this--}} class="btn btn-default btn-sm">Töröl</button-->
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>